{% extends 'base.html' %}
{% block title %} Tìm kiếm {% endblock %}
{% load myfilters %}
{% load static %}
{% load mathfilters %}
{% block content_top %}
{% endblock content_top %}


{% block content_main %}
<!-- Navbar -->

<!--Nội dung-->


<div class="container h-100  min-vh-100 mb-3 mt-3 ">
<h4 class="border-bottom text-dark text-lowercase mt-3 pb-2">có {{length}} kết quả tìm kiếm cho "{{keyword}}"</h4>
<div class="bg-light pt-3 pb-3 rounded">
    {% for item in tailieu %}
    <div class="col-12 m-1">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a href="/document/{{item.MaTL}}">{{item.TenTL}} - {{item.MaMH.TenMH}}</a></h5>
                <small class="card-text card-subtitle text-muted">
                    đăng bởi
                        <span class="text-danger">
                            {% if item.user.first_name %}
                            {{item.user.first_name}}
                            {% else %}
                            {{item.user.username}}
                            {% endif %}
                        </span>
                    lúc {{item.date |date:"H:i"}}
                    ngày {{item.date |date:"d"}}
                    tháng {{item.date |date:"m"}}
                    năm {{item.date |date:"Y"}}
                </small>
                <p class="card-text">{{item.get_LoaiTL_display}} môn {{item.MaMH.TenMH}} của tác giả {{item.TacGia}}, Mô tả: {{item.MoTa|safe_text |truncatechars:200}}
                    <a href="/document/{{item.MaTL}}">Xem chi tiết...</a>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="list-subject-footer row col-12 d-flex text-right pb-2 pt-2">
            <div class="so-bai col-7 col-sm-8 col-lg-9">
                <p style="display: inline;">Hiển thị tối đa</p>
                <select id="maximum-number" name="maximum-number" style="border: none; " onchange= "window.location.href='?search={{keyword}}&num='+this.value">
                    <option value={{num}} selected>{{num}}</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                    <option value="30">30</option>
                    <option value="35">35</option>
                </select>
            </div>
            <div class="tong-bai col-5 col-sm-4 col-lg-3 d-flex">
                <p style="display: inline;">Trang {{ tailieu.number }} / {{ tailieu.paginator.num_pages }}</p>
                &ensp;
                {% if tailieu.has_previous %}
                    <a style="text-decoration: none" href="?search={{keyword}}&num={{num}}&page={{ tailieu.previous_page_number }}" class="backward" >&nbsp;<i class="fas fa-angle-left">&nbsp;</i></a>
                {% else %}
                    <a style="text-decoration: none" class="backward" ><i class="fas fa-angle-left"></i></a>
                {% endif %}
                &ensp;
                {% if tailieu.has_next %}
                    <a style="text-decoration: none" href="?search={{keyword}}&num={{num}}&page={{ tailieu.next_page_number }}" class="forward">&nbsp;<i class="fas fa-angle-right"></i>&nbsp;</a>
                {% else %}
                    <a style="text-decoration: none" class="forward" ><i class="fas fa-angle-right"></i></a>
                {% endif %}
            </div>
	</div>
</div>
    

</div>


{% endblock %}