{% extends 'base.html' %}
{% load mon_hoc_tags %}
{% load myfilters %}
{% load static %}
{% block title %}{{tai_lieu.TenTL}} | {{tai_lieu.MaMH.TenMH}}{% endblock %}
{% block title_MH %}{{tai_lieu.TenTL}}{% endblock %}
{% block content %}
<script>
function textAreaAdjust(element) {
  element.style.height = "1px";
  element.style.height = element.scrollHeight+"px";
}
</script>

<div class="tailieucuthe row rounded pt-3 pb-3">
	<div class="col-12 col-sm-4 ">
		<div class="creator">
			<p style="margin-bottom: 2rem; text-shadow: 2px 2px 5px red; font-size: 20px; text-align: center;">Thông tin cơ bản</p>
			<div id="avatar" style="margin-bottom: 1rem; text-align: center;">
				<img src="{{ tai_lieu.user.last_name}}" style="display: block; margin: auto; width: 50%; max-width: 100px;" alt="">&nbsp;
				<span>{% if tai_lieu.user.first_name %}
                    {{tai_lieu.user.first_name}}
                    {% else %}
                    {{tai_lieu.user.username}}
                    {% endif %}</span>
			</div>
            <ul class="list-group">
                <li class="list-group-item bg-light border-0 shadow-none d-flex align-items-center">
                    <i class="fas fa-tags pr-2"></i> {{ tai_lieu.get_LoaiTL_display}}
                </li>
                <li class="list-group-item bg-light border-0 shadow-none d-flex align-items-center">
                    <i class="fas fa-file-alt pr-2"></i> {{ tai_lieu.MaMH.TenMH }}
                </li>
                <li class="list-group-item bg-light border-0 shadow-none d-flex align-items-center">
                    <i class="fas fa-user pr-2"></i> {{ tai_lieu.TacGia }}
                </li>
                <li class="list-group-item bg-light border-0 shadow-none d-flex align-items-center">
                    <i class="fas fa-clock pr-2"></i> {{ tai_lieu.date|date:"SHORT_DATE_FORMAT" }}
                </li>
                {% if tai_lieu.KiemDuyet %}
                    {% else %}
                <li class="list-group-item bg-light border-0 shadow-none d-flex align-items-center"> 
                    <span  class="btn btn-warning" role="button">Chưa duyệt</span> 
                </li>
                {% endif %}
                
                <li class="list-group-item bg-light border-0 shadow-none d-flex  align-items-center">
                    <i class="fas fa-download"></i>&nbsp; {{ tai_lieu.LuotTai }}
                    <i class="fas fa-eye ml-4"></i>&nbsp; {{ tai_lieu.LuotXem }} 
                </li>
                <li class="list-group-item bg-light border-0 shadow-none d-flex  align-items-center">
                    <a href="/download/{{tai_lieu.MaTL}}" class="btn btn-success">Tải xuống tài liệu</a>
                </li>
                
            </ul>
            
		</div>
	</div>
	<div class="col-sm-8 col-12 pt-2">
		<div class="mô tả">
			
			{% comment %} <p class="text-center" style="font-size: 26px;">{{tai_lieu.TenTL}}</p> {% endcomment %}
			
			<h2 style="font-size: 20px; text-shadow: 2px 2px 5px red;">Mô tả tài liệu</h2>
			{{ tai_lieu.MoTa | safe }}
			<h2 style="font-size: 20px; text-shadow: 2px 2px 5px red;">Danh sách File tài liệu đính kèm</h2>
			<div style="font-size: 16px;">
				<ul>
 					{% for item in FileDinhKem %}
					<li><a href="{{ item.Path }}">{{ item.filename }}</a></li>
					{% endfor %}
				</ul>
			</div>
            <h2 style="font-size: 20px; text-shadow: 2px 2px 5px red;">Chia sẻ</h2>
            <a href="https://plus.google.com/share?url={{ request.build_absolute_uri }}" class="fab fa-google-plus fa-2x" style="color:#D34836;" target="_blank"></a>
            <a href="https://api.whatsapp.com/send?text={{ request.build_absolute_uri }}" class="fab fa-whatsapp-square fa-2x" style="color:#25d366" target="_blank"></a>
            <a href="https://www.pinterest.com/pin/create/button/?url={{ request.build_absolute_uri }}" class="fab fa-pinterest-square fa-2x" style="color:#CB2027" target="_blank"></a>
            <a href="https://t.me/share/url?text=chiasetailieuhoctap&url={{ request.build_absolute_uri }}" class="fab fa-telegram fa-2x" style="color:#0088cc;" target="_blank"></a>
            <a href="http://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" class="fab fa-facebook-square fa-2x" style="color: #3b5998;" target="_blank"></a>
		</div>
	</div>
</div>


<h4 class="border-bottom text-dark mt-3 pb-2">{{comment.all|length}} bình luận </h4>
{% if user.username %}
<div class="row">
    <div class="col-12 d-flex" >
        <img src="{{ user.last_name}}" class="rounded-circle" width="70" height="70" style="min-width:70px" alt="" loading="lazy">
        <form method='POST' class="w-100 pl-2">
            {% csrf_token %}
            <div class="form-group border-dark" style='border-bottom: 2px solid;'>
                <textarea name="NoiDung" class="form-control border-0 bg-light" placeholder="Bình luận công khai..." onkeyup="textAreaAdjust(this)" style='height:36px' required="" id="id_NoiDung"></textarea>
            </div>
            <button type="submit" class="btn btn-secondary float-right" style="margin-bottom: 1rem;">Bình luận</button>
        </form>
    </div> 
</div>
{% endif%}

{% if not comment.all %}    
{% else %}
{% for cmt in comment %}
    <div class="p-0 col-12 d-flex" >
        <img src="{{ cmt.user.last_name}}" class="rounded-circle" width="40" height="40" alt="" loading="lazy">
        <div>
            <div class="card1">
                <div class="ms-2 me-auto" style="padding:0 10px;">
                    <div>
                        <b>
                            {% if cmt.user.first_name %}
                            {{cmt.user.first_name}}
                            {% else %}
                            {{cmt.user.username}}
                            {% endif %}
                            
                        </b>
                        <span class='font-weight-light font-italic'>
                            {{cmt.ThoiGian | days_until }} trước
                        </span>
                    </div>
                    {{cmt.NoiDung|linebreaks}}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% endif%}
{% endblock %}
{% comment %} 
{% if user.username %}
<div class="row">
    <hr class="light-contact" />
    <div class="cmt col-12" style="background-color: rgba(191, 191, 192, 0.6);">
        <h4 style="padding-top: 1rem;">Viết bình luận ...
        </h4>
        <form method='POST'>
            {% csrf_token %}
            <div class="form-group">
                {{form.NoiDung}}
            </div>
            <button type="submit" class="btn btn-outline-light active" style="margin-bottom: 1rem;">Gửi</button>
        </form>
    </div>
    <hr class="light-contact" />
</div>
{% endif%}
{% if not comment.all %}
    <h2> Không có bình luận nào </h2>
{% else %}
{% for cmt in comment %}
    <div class="row">
        <div class="col-1">
            <img src="{{ cmt.user.last_name}}" class="rounded-circle" width="70px" height="70px" alt=""
                            loading="lazy">
        </div>
        <div class="col-11">
            <div class="card1" style="margin-bottom: 1rem;  background-color: rgb(235, 235, 235);">
                <div class="ms-2 me-auto" style="font-size: 16px; padding: 10px;">
                    <div class="fw-bold" style="font-size: 16px;"><b style="font-size: 20px;">
					{% if cmt.user.first_name %}
                    {{cmt.user.first_name}}
                    {% else %}
                    {{cmt.user.username}}
                    {% endif %}
					</b>{{cmt.ThoiGian}}
                    </div>
                    {{cmt.NoiDung|linebreaks}}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% endif%}
{% endblock %} {% endcomment %}