body {
	font-family: 'Roboto',sans-serif;
	background-color: #e2e1e0;
	font-size: 15px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
}
.tailieucuthe{
    padding-top: 10px;
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
}
/*banner*/
.tieude{
    position: absolute;
    top: 10px;
    left: 100px;
}
.slogan{
    position: absolute;
    top: 100px;
    left: 400px;
}
.banner > img{
   height: auto;
   width: auto;
}
.ice{
    position: absolute;
    top: 0px;
    right: 300px;
    z-index: 2;
}
.poster{
    position: absolute;
    top: 0px;
    right: 0px;
}
/* navbar */
.navbar{
    background-color: #2b2b2b !important;
}
.menu{
    font-size: 18px;
}
.menu > ul > li > .dropdown-menu{
    display: none; /*Ẩn sub-menu đi */
    position: absolute; /*Tách block của sub-menu*/
    padding: 0px;
    list-style-type: none;
    z-index: 2; /*Sub-menu sẽ hiện ở trước background*/
}
.menu > ul > li:hover > .dropdown-menu{
    display:block;
    background-color: rgb(211, 212, 212); 
	border: 1px solid #fff;
	border-radius: 4px;
	padding: 10px;
	box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
}
/*main*/
.comment{
	padding-top: 100px;
}
.cent-review-left{
	padding-top: 100px;
}
.list-group{
	border-radius: 4px;
	border: 1px solid #fff;
}
.list-group-item{
	background-color: rgb(211, 212, 212); 
	border-radius: 4px;
	color: rgb(6, 7, 7);
	box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
}
.list-group-item >h4:hover{
    color: rgb(36, 185, 36);
	box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
}
.list-group-item:hover{
	color: rgb(36, 185, 36);
	box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
}
.list-group-item:active{
	box-shadow: 0 5px rgb(248, 248, 248);
	transform: translateY(4px);
}
.update {
	background-color: rgb(211, 212, 212); 
	border: 1px solid #fff;
	border-radius: 4px;
	padding: 30px;
	box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
}
label, .form-check-label, h1,h2,h3,h4 {
	color: white;	
	text-shadow: 2px 2px 10px #000;
}
/* .emailError, .passwordError {
	color: red;
	background-color: blanchedalmond;
	padding-left: 10px;
	border-radius: 4px;
	margin-top: 1px;
} */
/* card */
.card-img{
	border-radius: 4px;
}
.card-img-overlay {
    padding: 1.25rem;
	backdrop-filter: blur(2px);
}
.btn-outline-light:active {
	box-shadow: 0 5px rgb(248, 248, 248);
	transform: translateY(4px);
}
.card {
	border-radius: 4px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);  
	transition: box-shadow 0.56s ease-in-out;
}
.card:hover {
	box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
}
.card-title
{
	color: #f7f7f7;
	margin-bottom: 3rem;
}
/*st-3*/
#st-3.st-right {
    right: 0px;
}
#st-3 {
    font-family: "Helvetica Neue", Verdana, Helvetica, Arial, sans-serif;
    transition: all 0.2s ease-in;
    backface-visibility: hidden;
    display: block;
    position: fixed;
    opacity: 1;
    text-align: left;
    top: 160px;
    z-index: 94034;
}
#st-3 .st-total.st-hidden {
    display: none;
}
#st-3 .st-total {
    transition: all 0.2s ease-in;
    background: #fff;
    color: #555;
    font-weight: 500;
    line-height: 12px;
    margin-right: 0;
    min-height: 34px;
    max-width: 80px;
    opacity: 1;
    padding: 4px 0;
    text-align: center;
    width: 32px;
}
#st-3 .st-total > span {
    display: block;
    font-size: 12px;
    line-height: 14px;
    padding: 0;
}
#st-3 .st-total > span.st-shares {
    font-size: 7px;
    line-height: 7px;
}
#st-3 > div {
    clear: right;
    float: right;
}
#st-3 .st-btn[data-network='sharethis'] {
    background-color: #95D03A;
}
#st-3 .st-btn.st-first {
    border-top: none;
    border-top-left-radius: 4px;
}
#st-3:not(.st-has-labels) .st-btn:hover {
    width: 70px;
}
#st-3 .st-btn:hover {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
#st-3 .st-btn[data-network='facebook'] {
    background-color: #4267B2;
}
#st-3 .st-btn[data-network='twitter'] {
    background-color: #55acee;
}
#st-3 .st-btn[data-network='pinterest'] {
    background-color: #CB2027;
}
#st-3 .st-btn[data-network='email'] {
    background-color: #7d7d7d;
}
#st-3 .st-btn[data-network='vk'] {
    background-color: #4c6c91;
}
#st-3 .st-btn[data-network='odnoklassniki'] {
    background-color: #d7772d;
}
#st-3 .st-btn[data-network='blogger'] {
    background-color: #ff8000;
}
#st-3 .st-btn[data-network='linkedin'] {
    background-color: #0077b5;
}
#st-3 .st-btn[data-network='googlebookmarks'] {
    background-color: #4285F4;
}
#st-3 .st-btn[data-network='reddit'] {
    background-color: #ff4500;
}
#st-3 .st-btn {
    box-sizing: border-box;
    transition: all 0.2s ease-in;
    border: none;
    cursor: pointer;
    font-size: 11px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 0;
    opacity: 1;
    overflow: hidden;
    padding: 8px;
    position: relative;
    text-align: left;
    top: 0;
    vertical-align: top;
    white-space: nowrap;
    width: 40px;
}
#st-3 .st-btn > img {
    transition: all 0.2s ease-in;
    height: 30px;
    margin-left: 0;
    vertical-align: top;
    width: 30px;
}
img {
    max-width: 100%;
}
#st-3 .st-toggle {
    right: -50px;
    transition: all 0.2s ease-in;
    background: #ccc;
    border-bottom-left-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    line-height: 16px;
    position: relative;
    text-align: center;
    width: 50px;
}
/* style-switcher */
#style-switcher {
    right: -335px;
    position: fixed;
    top: 75px;
    z-index: 1111;
}
div {
    display: block;
}
#style-switcher-panel .content-toc-container {
    border: 1px solid #fff;
    overflow-y: scroll;
    max-height: 500px;
}
.internal-page-anchor {
    cursor: pointer;
    padding-left: 20px;
    background: url(../images/anchor-16.png) no-repeat center left;
}
#style-switcher-panel li {
    line-height: 200%;
}
.content-toc-container {
    margin: 10px 0 5px 0;
    line-height: 150%;
}
.content-toc-container ol li {
    margin-left: -5px;
}
::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}
#style-switcher-panel .style-switcher-footer {
    border-top: 1px solid #ff9249;
}
.target-blank-url {
    cursor: pointer;
    padding-left: 20px;
    background: url(../images/newwindow-12.png) no-repeat center left;
}
#style-switcher-panel:after {
    clear: both;
}
#style-switcher-panel h3 {
    padding: 5px 5px 10px 10px;
    margin: 5px 0 0 0;
    border-bottom: 1px solid #ff9249;
}
#style-switcher-panel:after, #style-switcher-panel:before {
    content: " ";
    display: table;
}
#style-switcher-panel {
    max-height: 500px;
    background: #fafafa;
    border: solid 2px #4a86b8;
}
#style-switcher-panel {
    background-color: #fff;
    box-shadow: 0 0 10px #4a86b8;
    padding: 0;
    position: relative;
    width: 310px;
    font-size: 85%;
    z-index: 1;
    text-align: left;
}
#style-switcher-toggle.off {
    left: -48px;
    width: 48px;
    height: 48px;
    background: url(../images/show-quick-menu-48.png) center no-repeat;
}
#style-switcher-toggle.on {
    right: 0;
    left: auto;
    width: 48px;
    height: 48px;
    background: url(../images/hide-quick-menu-32.png) center no-repeat;
    box-shadow: none;
}
#style-switcher-toggle {
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
    cursor: pointer;
    top: 0;
    position: absolute;
    width: 44px;
}
#style-switcher-toggle {
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
    cursor: pointer;
    top: 0;
    position: absolute;
    width: 44px;
}
.gssb_c {
    z-index: 5000;
}
.gssb_c {
    border: 0;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}
tr {
    display: table-row;
    vertical-align: inherit;
}
td {
    display: table-cell;
    vertical-align: inherit;
}
#st-el-22 {
    font-family: "Helvetica Neue", Verdana, Helvetica, Arial, sans-serif;
    transition: all 0.2s ease-in;
    height: 100%;
    left: 0;
    opacity: 1;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}
#st-el-22 .st-backdrop {
    background: rgba(0, 0, 0, 0.8);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
}
#st-el-22 .st-btn[data-network='blm'] {
    background-color: #000000;
}
#st-el-22 .st-btns {
    bottom: 56px;
    left: 0;
    margin: 100px auto 0;
    max-width: 90%;
    position: absolute;
    right: 0;
    top: 10px;
    z-index: 20;
    overflow-y: auto;
}
#st-el-22 .st-btn {
    border-radius: 4px;
    box-sizing: border-box;
    transition: all 0.2s ease-in;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    height: 48px;
    line-height: 30px;
    margin: 4px;
    opacity: 1;
    overflow: hidden;
    padding: 8px 12px;
    position: relative;
    text-align: left;
    top: 0;
    vertical-align: top;
    width: 148px;
}
#st-el-22 .st-btn::before {
    border-radius: 4px;
    transition: all 0.2s ease-in;
    background: #fff;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#st-el-22 .st-btn > img {
    display: inline-block;
    height: 20px;
    margin-top: 6px;
    vertical-align: top;
    width: 20px;
}
#st-el-22 .st-btn > span {
    display: inline-block;
    letter-spacing: 0.5px;
    text-align: center;
    vertical-align: top;
    width: 96px;
}
#st-el-22 .st-btn[data-network='blogger'] {
    background-color: #ff8000;
}
#st-el-22 .st-btn[data-network='buffer'] {
    background-color: #323B43;
}
#st-el-22 .st-btn[data-network='diaspora'] {
    background-color: #000000;
}
#st-el-22 .st-btn[data-network='digg'] {
    background-color: #262626;
}
#st-el-22 .st-btn[data-network='douban'] {
    background-color: #2E963D;
}
#st-el-22 .st-btn[data-network='email'] {
    background-color: #7d7d7d;
}
#st-el-22 .st-btn[data-network='evernote'] {
    background-color: #5BA525;
}
#st-el-22 .st-btn[data-network='facebook'] {
    background-color: #4267B2;
}
#st-el-22 .st-btn[data-network='flipboard'] {
    background-color: #e12828;
}
#st-el-22 .st-btn[data-network='getpocket'] {
    background-color: #ef4056;
}
#st-el-22 .st-btn[data-network='gmail'] {
    background-color: #D44638;
}
#st-el-22 .st-btn[data-network='googlebookmarks'] {
    background-color: #4285F4;
}
#st-el-22 .st-btn[data-network='hackernews'] {
    background-color: #ff4000;
}
#st-el-22 .st-btn[data-network='instapaper'] {
    background-color: #000000;
}
#st-el-22 .st-btn[data-network='line'] {
    background-color: #00c300;
}
#st-el-22 .st-btn[data-network='linkedin'] {
    background-color: #0077b5;
}
#st-el-22 .st-btn[data-network='livejournal'] {
    background-color: #00b0ea;
}
#st-el-22 .st-btn[data-network='mailru'] {
    background-color: #168de2;
}
#st-el-22 .st-btn[data-network='meneame'] {
    background-color: #ff6400;
}
#st-el-22 .st-btn[data-network='messenger'] {
    background-color: #448AFF;
}
#st-el-22 .st-btn[data-network='odnoklassniki'] {
    background-color: #d7772d;
}
#st-el-22 .st-btn[data-network='pinterest'] {
    background-color: #CB2027;
}
#st-el-22 .st-btn[data-network='print'] {
    background-color: #222222;
}
#st-el-22 .st-btn[data-network='qzone'] {
    background-color: #F1C40F;
}
#st-el-22 .st-btn[data-network='reddit'] {
    background-color: #ff4500;
}
#st-el-22 .st-btn[data-network='refind'] {
    background-color: #4286f4;
}
#st-el-22 .st-btn[data-network='skype'] {
    background-color: #00aff0;
}
#st-el-22 .st-btn[data-network='telegram'] {
    background-color: #0088cc;
}
#st-el-22 .st-btn[data-network='twitter'] {
    background-color: #55acee;
}
#st-el-22 .st-btn[data-network='vk'] {
    background-color: #4c6c91;
}
#st-el-22 .st-btn[data-network='wechat'] {
    background-color: #4EC034;
}
#st-el-22 .st-btn[data-network='weibo'] {
    background-color: #ff9933;
}
#st-el-22 .st-btn[data-network='yahoomail'] {
    background-color: #720e9e;
}
#st-el-22 .st-btn[data-network='whatsapp'] {
    background-color: #25d366;
}
#st-el-22 .st-logo {
    background: #4c4c4c;
    bottom: 0;
    cursor: pointer;
    padding: 20px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 30;
}
#st-el-22 .st-close {
    border-radius: 28px;
    box-sizing: border-box;
    background: #999;
    bottom: 28px;
    color: #fff;
    cursor: pointer;
    font-size: 36px;
    height: 56px;
    line-height: 28px;
    padding: 10px;
    position: absolute;
    right: 14px;
    width: 56px;
    z-index: 40;
}
#st-el-22 .st-close > img {
    height: 40px;
    width: 40px;
}
/* nav-controls */
#nav-controls{
	position: fixed;
	bottom: 5px;
	right: 5px;
    margin-bottom: 6rem;
}
/*comment*/
.cmt{
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
}
/*footer*/
footer {
	background-color: #2b2b2b;
	color: #d5d5d5;
} 
.light-contact{
	border-top: 1px solid #fdfdfd;
	width: 100%;
}







