body {
	font-family: 'Roboto',sans-serif;
	background-color: #e2e1e0;
	font-size: 15px;
}

.tailieucuthe{
    padding-top: 10px;
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
}
/*nextpage*/
.nextpage{
    background-color: #0077b5 !important;
}
/*banner*/
.tieude{
    position: absolute;
    top: 10px;
    left: 100px;
}
.slogan{
    position: absolute;
    top: 100px;
    left: 400px;
}
.banner > img{
   height: auto;
   width: auto;
}
.ice{
     position: absolute;
     top: 0px;
     right: 300px;
     z-index: 2;
 }
 .poster{
     position: absolute;
     top: 0px;
     right: 0px;
 }

 .light-contact{
	border-top: 1px solid #fdfdfd;
	width: 100%;
}
.form-control:focus{
    box-shadow:none!important
}