{% extends "dashboard_base.html" %} 
{% load mathfilters %}
{% block title %}Tổng Quan{% endblock title %}
{% block TrangTQ %}horizontal{% endblock%}
{% block TieuDe %}Tổng Quan{% endblock %}
{% block content %}
<div class="row TongQuan">
    <div class="col-md-3">
        <a class="overview" href="#">
            <span class="name" >Tài liệu mới</span>
            <span class="number">{{ overview.new_doc }}</span>
        </a>
    </div>
    <div class="col-md-3 ">
        <a class="overview" href="#">
            <span class="name" >Số tài liệu</span>
            <span class="number">{{ overview.old_doc }}</span>
        </a>
    </div>
    <div class="col-md-3">
        <a class="overview" href="#">
            <span class="name" >Số người dùng</span>
            <span class="number">{{ overview.num_user }}</span>
        </a>
    </div>
    <div class="col-md-3" class="overview">
        <a class="overview" href="#">
            <span class="name" >Lươt tải</span>
            <span class="number">64</span>
        </a>
    </div>
</div>
<div class="row subjects">
    <div style="display: block; width: 100%;">
        <button class="add-subject" type="submit" data-toggle="modal" data-target="#exampleModal">
            <i class="fas fa-plus-square"></i> Thêm môn học
        </button>
    </div>
</div>

<div class="row col-12" style="margin-bottom: 30px;">
    <div class="col-12 list-subject">
        <div class="list-subject-header row">
            <ul class="subject-header row justify-content-center">
                <li class="col-1">STT</li>
                <li class="col-1">Mã MH</li>
                <li class="col-3">Tên môn học</li>
                <li class="col-3">Khoa/Bộ môn quản lý</li>
                <li class="col-2">Nhóm môn học</li>
                <li class="col-1">Số lượng TL</li>
            </ul>
        </div>
        <div class="list-subject-item row">
            {% for item in monhoc %}

            <ul id="item-0" class="subject-item" >
                <div class="subject-item-show row justify-content-center" onclick="show_item_hidden(this.parentNode.id)">
                    <li class="col-1" name="SoTT">{{ monhoc.number| sub:1| mul:15| add:forloop.counter }}</li>
                    <li class="col-1" name="MaMH">{{ item.MaMH }}</li>
                    <li class="col-3" name="TenMH">{{ item.TenMH }}</li>
                    <li class="col-3" name="KhoaQL">{{ item.Khoa }}</li>
                    <li class="col-2" name="NhomMH">{{ item.NhomMH }}</li>
                    <li class="col-1" name="SLTL">12</li>
                </div>
            </ul>
            {% endfor %}
        </div>
        <div class="list-subject-footer row">
            <div class="so-bai col-9">
                <!-- <p style="display: inline;">Số bài hiển thị tối đa</p>
                <select id="maximum-number" name="maximum-number" style="border: none;">
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                    <option value="25">30</option>
                    <option value="25">35</option>
                </select> -->
            </div>
            <div class="tong-bai col-2" style="min-width: 200px;">
                <p style="display: inline;">Page {{ monhoc.number }} of {{ monhoc.paginator.num_pages }}</p>
                &ensp;
                {% if monhoc.has_previous %}
                    <a style="text-decoration: none" href="?page={{ monhoc.previous_page_number }}" class="backward" >&nbsp;<i class="fas fa-angle-left">&nbsp;</i></a>
                {% else %}
                    <a style="text-decoration: none" class="backward" ><i class="fas fa-angle-left"></i></a>
                {% endif %}
                &ensp;
                {% if monhoc.has_next %}
                    <a style="text-decoration: none" href="?page={{ monhoc.next_page_number }}" class="forward">&nbsp;<i class="fas fa-angle-right"></i>&nbsp;</a>
                {% else %}
                    <a style="text-decoration: none" class="forward" ><i class="fas fa-angle-right"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
    
</div>
{% endblock content %}

{% block bonus_content%}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">THÊM MÔN HỌC MỚI</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
            
            <form action="." method="post">
                {% csrf_token %}
                <!-- {{ form.as_table }} -->
                <!-- 'MaMH','TenMH','Khoa','NhomMH','MoTa' -->
                <div class="form-group">
                    <label for="MaMH" class="col-form-label">Mã MH:</label>
                    {{ form.MaMH }}
                </div>
                <div class="form-group">
                    <label for="TenMH" class="col-form-label">Tên môn học:</label>
                    {{ form.TenMH }}
                </div>
                <div class="form-group">
                    <label for="KhoaQL" class="col-form-label">Khoa/Bộ môn quản lý:</label>
                    {{ form.Khoa }}
                </div>
                <div class="form-group">
                    <label for="NhomMH" class="col-form-label">Nhóm môn học: </label>
                    {{ form.NhomMH }}
                </div>
                <div class="form-group">
                    <label for="NhomMH" class="col-form-label">Mô tả: </label>
                    {{ form.MoTa }}
                </div>
                <!-- {% for field in form.visible_fields %}
                    <div class="form-group">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                    </div>
                {% endfor %} -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button  class="btn btn-primary" type="submit" >Send message</button>
                </div>
            </form>
            
        </div>
        
      </div>
    </div>
</div>
{% endblock %}

            