{% extends "dashboard_base.html" %} 
{% block title %}Đóng góp tài liệu{% endblock title %}
{% block TrangDGTL %}horizontal{% endblock%}
{% block TieuDe %}Đóng góp tài liệu{% endblock %}
{% block script_content %}
    <style  type="text/css">
        .django-ckeditor-widget{
            width: 100%;
        }
    </style>
{% endblock script_content %}

{% block content %}
<div class="row col-12" style="margin-bottom: 30px">
    <div class="col-12 list-subject row justify-content-center" style="padding-top: 30px;" >

        <form class="col-10" action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- {{ form.as_table }} -->
            {{ form.media }}
            <div class="form-group row">
                {{ form.TenTL.errors }}
                <label class="col-sm-2 col-form-label"> Tên tài liệu</label>    
                <div class="col-sm-10">{{ form.TenTL }}</div>
            </div>
            <div class="form-group row">
                {{ form.TenTL.errors }}
                <label class="col-sm-2 col-form-label"> Loại tài liệu</label>    
                <div class="col-sm-10">{{ form.LoaiTL }}</div>
            </div>
            <div class="form-group row">
                {{ form.TenTL.errors }}
                <label class="col-sm-2 col-form-label"> Mã môn học</label>    
                <div class="col-sm-10">{{ form.MaMH }}</div>
            </div>
            <div class="form-group row">
                {{ form.TenTL.errors }}
                <label class="col-sm-2 col-form-label"> Tác giả</label>    
                <div class="col-sm-10">{{ form.TacGia }}</div>
            </div>
            <div class="form-group row">
                {{ form.TenTL.errors }}
                <label class="col-sm-2 col-form-label"> Mô tả</label>    
                <div class="col-sm-10">{{ form.MoTa }}</div>
            </div>
            <div class="form-group row">
                {{ form.TenTL.errors }}
                <label class="col-sm-2 col-form-label"> Tệp tài liệu</label>    
                <div class="col-sm-10"><input type="file" name="myfile" multiple></div>
            </div>
            


            <div class="form-group row justify-content-center">          
                <button type="submit" class="col-sm-5 btn btn-primary">Tải lên</button>
            </div>
        </form>
    </div>
    
</div>
{% endblock content %}
{% block script_body %}

<script language="javascript">
    setTimeout(function() {document.getElementById("cke_id_MoTa").style.width = '100%';}, 500);
    setTimeout(function() {document.getElementById("cke_id_MoTa").style.width = '100%';}, 1000);
    setTimeout(function() {document.getElementById("cke_id_MoTa").style.width = '100%';}, 1500);
    setTimeout(function() {document.getElementById("cke_id_MoTa").style.width = '100%';}, 2000);
    
</script>
{% endblock script_body %}
            