{% extends "dashboard_base.html" %} 
{% load mathfilters %}
{% block title %}Duyệt Tài Liệu{% endblock title %}
{% block TrangDTL %}horizontal{% endblock%}
{% block TieuDe %}Duyệt Tài Liệu{% endblock %}
{% block script_content %}

<style  type="text/css">
    .django-ckeditor-widget{
        width: 100%;
    }
</style>
{% endblock %}
{% block content %}

<div class="row col-12" style="margin-bottom: 30px;">
    <div class="col-12 list-subject">
        <div class="list-subject-header row">
            <ul class="subject-header row justify-content-center">
                <li class="col-1">STT</li>
                <li class="col-4">Tên Tài liệu</li>
                <li class="col-2">Người gởi</li>
                <li class="col-4">Thông tin cơ bản</li>
                <li class="col-1">Kiểm duyệt</li>
            </ul>
        </div>
        <div class="list-subject-item row">
            {% for item in tailieu %}
            <ul id="{{ item.MaTL }}" class="subject-item" >
                <div class="subject-item-show row justify-content-center" onclick="show_item_hidden(this.parentNode.id)">
                    <li class="col-1" name="SoTT">{{ tailieu.number| sub:1| mul:15| add:forloop.counter }}</li>
                    <li class="col-4" name="TenTL">{{ item.TenTL }}</li>
                    <li class="col-2" name="NguoiGoi">{{ item.user }}</li>
                    <li class="col-4" name="Thông tin cơ bản">{{ item.get_LoaiTL_display }}, {{ item.TacGia }}, {{ item.date|date:"M d, Y" }}</li>
                    {% comment %} <a class="btn btn-success col-1" style="border-radius: 25px;" href="/dashboard/DuyetTL/XetDuyet/{{ item.MaTL }}">Duyệt</a> {% endcomment %}
                    <button type="button" class="btn btn-success col-1" style="border-radius: 25px;" data-toggle="modal" data-target="#exampleModal">Duyệt</button>
                </div>
            </ul>
            {% endfor %}          
        </div>
        <div class="list-subject-footer row">
            <div class="so-bai col-10">
                <p style="display: inline;">Số bài hiển thị tối đa</p>
                <select id="maximum-number" name="maximum-number" style="border: none;">
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                    <option value="25">30</option>
                    <option value="25">35</option>
                </select>
            </div>
            <div class="tong-bai col-2" style="min-width: 200px;">
                <p style="display: inline;">Page {{ tailieu.number }} of {{ tailieu.paginator.num_pages }}</p>
                {% if tailieu.has_previous %}
                    <a href="?page={{ tailieu.previous_page_number }}" class="backward" ><i class="fas fa-angle-left"></i></a>
                {% else %}
                    <a class="backward" ><i class="fas fa-angle-left"></i></a>
                {% endif %}
                
                {% if tailieu.has_next %}
                    <a href="?page={{ tailieu.next_page_number }}" class="forward"><i class="fas fa-angle-right"></i></a>
                {% else %}
                    <a class="forward" ><i class="fas fa-angle-right"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
    
</div>
{% endblock content %}

{% block bonus_content%}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style='max-width:800px;'>
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">XÉT DUYỆT TÀI LIỆU</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
            <form class="col-12" action="." method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                <div class="form-group">
                    <label for="MaMH" class="col-form-label">Tên tài liệu:</label>
                    {{ form.TenTL }}
                </div>
                <div class="form-group">
                    <label for="TenMH" class="col-form-label">Loại tài liệu:</label>
                    {{ form.LoaiTL }}
                </div>
                <div class="form-group">
                    <label for="KhoaQL" class="col-form-label">Mã môn học:</label>
                    {{ form.MaMH }}
                </div>
                <div class="form-group">
                    <label for="NhomMH" class="col-form-label">Tác giả: </label>
                    {{ form.TacGia }}
                </div>

                <div class="form-group">
                    <label for="NhomMH" class="col-form-label">Mô tả: </label>
                    {{ form.MoTa }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button  class="btn btn-primary" type="submit" >Send message</button>
                </div>

            </form>
            
        </div>
        
      </div>
    </div>
</div>
{% endblock %}
{% block script_body %}

<script language="javascript">
    setTimeout(function() {document.getElementById("cke_id_MoTa").style.width = '100%';}, 500);
    setTimeout(function() {document.getElementById("cke_id_MoTa").style.width = '100%';}, 1000);
    setTimeout(function() {document.getElementById("cke_id_MoTa").style.width = '100%';}, 1500);
    setTimeout(function() {document.getElementById("cke_id_MoTa").style.width = '100%';}, 2000);
    {% comment %} document.forms['myform']['TenTL'].value {% endcomment %}
</script>
{% endblock script_body %}
