{% extends "dashboard_base.html" %} 
{% load mathfilters %}
{% block title %}Tổng Quan{% endblock title %}
{% block TrangTQ %}horizontal{% endblock%}
{% block TieuDe %}Tổng Quan{% endblock %}
{% block content %}
<div class="row TongQuan">
    <div class="col-6 col-md-3">
        <a class="overview" href="#">
            <span class="name" >Tài liệu mới</span>
            <span class="number">{{ overview.new_doc }}</span>
        </a>
    </div>
    <div class="col-6 col-md-3 ">
        <a class="overview" href="#">
            <span class="name" >Số tài liệu</span>
            <span class="number">{{ overview.old_doc }}</span>
        </a>
    </div>
    <div class="col-6 col-md-3 pt-2 pt-md-0">
        <a class="overview" href="#">
            <span class="name" >Số người dùng</span>
            <span class="number">{{ overview.num_user }}</span>
        </a>
    </div>
    <div class="col-6 col-md-3 pt-2 pt-md-0" class="overview">
        <a class="overview" href="#">
            <span class="name" >Lươt tải</span>
            <span class="number">{{ overview.num_download.LuotTai__sum }}</span>
        </a>
    </div>
</div>
{% if user.is_staff %}
    <div class="row subjects">
        <div style="display: block; width: 100%;">
            <button class="add-subject" type="submit" data-toggle="modal" data-target="#exampleModal">
                <i class="fas fa-plus-square"></i> Thêm môn học
            </button>
        </div>
    </div>
{% endif %}

<div class="row col-12" style="margin-bottom: 30px;">
    <div class="col-12 list-subject">
        <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col" class="align-middle" style="border-top:0">#</th>
                <th scope="col" class="align-middle" style="border-top:0">Mã MH</th>
                <th scope="col" class="align-middle" style="border-top:0">Tên môn học</th>
                <th scope="col" class="align-middle" style="border-top:0">Khoa/Bộ môn quản lý</th>
                <th scope="col" class="align-middle" style="border-top:0">Nhóm môn học</th>
                <th scope="col" class="align-middle" class="text-center" style="border-top:0">Số lượng TL</th>
                </tr>
            </thead>
            <tbody>
            {% for item in monhoc %}
                <tr>
                    <th class="align-middle" scope="row">{{ monhoc.number| sub:1| mul:num| add:forloop.counter }}</th>
                    <td class="align-middle" >{{ item.MaMH }}</td>
                    <td class="align-middle" >{{ item.TenMH }}</td>
                    <td class="align-middle" >{{ item.get_Khoa_display }}</td>
                    <td class="align-middle">{{ item.get_NhomMH_display }}</td>
                    <td class="text-center align-middle">{{ item.SoLuongTL }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="list-subject-footer row">
            <div class="so-bai col-9">
                <p style="display: inline;">Số bài hiển thị tối đa</p>
                <select id="maximum-number" name="maximum-number" style="border: none; " onchange= "window.location.href='?num='+this.value">
                    <option value={{num}} selected>{{num}}</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                    <option value="25">30</option>
                    <option value="25">35</option>
                </select>
            </div>
            <div class="tong-bai col-2" style="min-width: 200px;">
                <p style="display: inline;">Page {{ monhoc.number }} of {{ monhoc.paginator.num_pages }}</p>
                &ensp;
                {% if monhoc.has_previous %}
                    <a style="text-decoration: none" href="?num={{num}}&page={{ monhoc.previous_page_number }}" class="backward" >&nbsp;<i class="fas fa-angle-left">&nbsp;</i></a>
                {% else %}
                    <a style="text-decoration: none" class="backward" ><i class="fas fa-angle-left"></i></a>
                {% endif %}
                &ensp;
                {% if monhoc.has_next %}
                    <a style="text-decoration: none" href="?num={{num}}&page={{ monhoc.next_page_number }}" class="forward">&nbsp;<i class="fas fa-angle-right"></i>&nbsp;</a>
                {% else %}
                    <a style="text-decoration: none" class="forward" ><i class="fas fa-angle-right"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
    
</div>
{% endblock content %}

{% block bonus_content%}

{% if user.is_staff %}
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">THÊM MÔN HỌC MỚI</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>

            <div class="modal-body">
                
                <form action="." method="post">
                    {% csrf_token %}
                    <!-- {{ form.as_table }} -->
                    <!-- 'MaMH','TenMH','Khoa','NhomMH','MoTa' -->
                    <div class="form-group">
                        <label for="MaMH" class="col-form-label">Mã MH:</label>
                        {{ form.MaMH }}
                    </div>
                    <div class="form-group">
                        <label for="TenMH" class="col-form-label">Tên môn học:</label>
                        {{ form.TenMH }}
                    </div>
                    <div class="form-group">
                        <label for="KhoaQL" class="col-form-label">Khoa/Bộ môn quản lý:</label>
                        {{ form.Khoa }}
                    </div>
                    <div class="form-group">
                        <label for="NhomMH" class="col-form-label">Nhóm môn học: </label>
                        {{ form.NhomMH }}
                    </div>
                    <div class="form-group">
                        <label for="NhomMH" class="col-form-label">Mô tả: </label>
                        {{ form.MoTa }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button  class="btn btn-primary" type="submit" >Gửi đi</button>
                    </div>
                </form>
                
            </div>
            
        </div>
        </div>
    </div>
{% endif %}

{% endblock %}

            