{% extends "dashboard_base.html" %} 
{% block title %}Thông tin cá nhân{% endblock title %}
{% block TrangTT %}horizontal{% endblock%}
{% block TieuDe %}Thông tin cá nhân{% endblock %}
{% block content %}
<div class="row col-12 list-subject justify-content-center" style="margin-bottom: 30px">
    <div class="col-10 row justify-content-center" style="padding-top: 30px;" >
        <form class="col-8" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group row">
                <label for="TenTL" class="col-sm-2 col-form-label">Họ và tên:</label>
                <div class="col-sm-10">
                    {{ form.Fullname }}
                </div>
            </div>
            <div class="form-group row">
                <label for="TenTG" class="col-sm-2 col-form-label">Username:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="TenTG" disabled value="{{ user.username }} " required>
                </div>
            </div>
            <div class="form-group row">
                <label for="MaMH" class="col-sm-2 col-form-label">Lớp:</label>
                <div class="col-sm-10">
                    {{ form.Class }}
                </div>
            </div>
            <div class="form-group row">
                <label for="TenTL" class="col-sm-2 col-form-label">Facebook:</label>
                <div class="col-sm-10">
                    {{ form.Facebook }}
                </div>
            </div>
            
            <div class="form-group row">
                <label for="TenTG" class="col-sm-2 col-form-label">Github:</label>
                <div class="col-sm-10">
                    {{ form.Github }}
                </div>
            </div>
            <div class="form-group row">
                <label for="MaMH" class="col-sm-2 col-form-label">Email:</label>
                <div class="col-sm-10">
                    {{ form.Email }}
                </div>
            </div>
            <div class="form-group row">
                <label for="exampleFormControlFile1" class="col-sm-2 col-form-label">Tự bạch:</label>
                <div class="col-sm-10">
                    {{ form.Bio }}
                </div>
                
            </div>
            <div class="form-group row">
                <label for="exampleFormControlFile1" class="col-sm-2 col-form-label">Tự bạch:</label>
                <div class="col-sm-10">
                    {{ form.Avatar }}
                </div>
                
            </div>
            <div class="form-group row">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Cập nhập</button>
              </div>
            </div>
        </form>
        <div class="col-3" style="font-size: 30px;">
            {% comment %} <ul class="nav-justified">
            <li class="text-center"><img class="avatar avatar-128 img-circle img-thumbnail" src="{{ user.last_name }}"/></li>
            </ul> {% endcomment %}

            <div class="avatar" style="background: url('{{ user.last_name }}'); height:200px; width:200px; "></div>
            
            <i class="fas fa-camera"></i>
        </div>
    </div>
    
</div>
{% endblock content %}
{% block script_body %}

<script language="javascript">
    document.getElementById("id_Fullname").value = "{{ user.first_name }}";
    document.getElementById("id_Class").value = "{{ data.0.Class }}";
    document.getElementById("id_Facebook").value = "{{ data.0.Facebook }}";
    document.getElementById("id_Github").value = "{{ data.0.Github }}";
    document.getElementById("id_Email").value = "{{ user.email }}";
    document.getElementById("id_Bio").value = "{{ data.0.Bio }}";
</script>
{% endblock script_body %}