{% extends 'base.html' %}
{% load mon_hoc_tags %}
{% load static %}
{% block title %}{{tai_lieu.MaMH}}{% endblock %}
{% block title_MH %}{{tai_lieu.TenTL}}{% endblock %}
{% block content %}
<div class="tailieucuthe row">
	<div class="col-3">
		<div class="creator">
			<p style="margin-bottom: 2rem; font-size: 24px;">Người cung cấp</p>
			<div id="avatar" style="margin-bottom: 1rem;">
				<img src="{% static 'images/avatar1.jpg' %}" alt="">&nbsp;
				<span style="font-size: 16px;"><b>NhanLee</b></span>
			</div>
			<div id="tải xuống" style="margin-bottom: 1rem;">
				<i class="fas fa-download"></i>&nbsp;
				<span style="font-size: 16px;"> 20 lượt tải xuống</span>
			</div>
			<div id="tải xuống" style="margin-bottom: 1rem;">
				<i class="fas fa-user"></i>&nbsp;
				<span style="font-size: 16px;"> {{ tai_lieu.LuotXem }} lượt xem</span>
			</div>
		</div>
	</div>
	<div class="col-9">
		<div class="mô tả">
			<p class="text-center" style="font-size: 26px;">{{tai_lieu.TenTL}}</p>
			<p style="font-size: 20px;">Chương 1</p>
			<p style="font-size: 16px;">Đại số tuyến tính là trung tâm của hầu hết các lĩnh vực toán học. Ví dụ, đại số
				tuyến tính là cơ bản trong các bài thuyết trình hiện đại về hình học, bao gồm cả việc xác định các đối
				tượng cơ bản như đường thẳng, mặt phẳng và phép quay. Ngoài ra, giải tích hàm, một nhánh của giải tích
				toán học, về cơ bản có thể được xem là ứng dụng của đại số tuyến tính vào không gian của các hàm.
			</p>
			<p style="font-size: 16px;">Đại số tuyến tính là trung tâm của hầu hết các lĩnh vực toán học. Ví dụ, đại số
				tuyến tính là cơ bản trong các bài thuyết trình hiện đại về hình học, bao gồm cả việc xác định các đối
				tượng cơ bản như đường thẳng, mặt phẳng và phép quay. Ngoài ra, giải tích hàm, một nhánh của giải tích
				toán học, về cơ bản có thể được xem là ứng dụng của đại số tuyến tính vào không gian của các hàm.
			</p>
			<p style="font-size: 20px;">Chương 2</p>
			<p style="font-size: 16px;">Đại số tuyến tính là trung tâm của hầu hết các lĩnh vực toán học. Ví dụ, đại số
				tuyến tính là cơ bản trong các bài thuyết trình hiện đại về hình học, bao gồm cả việc xác định các đối
				tượng cơ bản như đường thẳng, mặt phẳng và phép quay. Ngoài ra, giải tích hàm, một nhánh của giải tích
				toán học, về cơ bản có thể được xem là ứng dụng của đại số tuyến tính vào không gian của các hàm.
			</p>
			<p style="font-size: 16px;">Đại số tuyến tính là trung tâm của hầu hết các lĩnh vực toán học. Ví dụ, đại số
				tuyến tính là cơ bản trong các bài thuyết trình hiện đại về hình học, bao gồm cả việc xác định các đối
				tượng cơ bản như đường thẳng, mặt phẳng và phép quay. Ngoài ra, giải tích hàm, một nhánh của giải tích
				toán học, về cơ bản có thể được xem là ứng dụng của đại số tuyến tính vào không gian của các hàm.
			</p>
		</div>
		<!-- <a href="#!" class="btn btn-outline-light active" style="margin-bottom: 1rem; margin-left: 50rem;">xem thêm</a> -->
	</div>
</div>
<div class="row">
	<hr class="light-contact" />
	<div class="cmt col-12" style="background-color: rgba(191, 191, 192, 0.6);">
		<h4 style="padding-top: 1rem;">Viết bình luận ... <span class="fas fa-plus-circle"></span>
		</h4>
		<form role="form">
			<div class="form-group">
				<textarea class="form-control" rows="3"></textarea>
			</div>
			<a href="#!" class="btn btn-outline-light active" style="margin-bottom: 1rem;">Gửi</a>
		</form>
	</div>
	<hr class="light-contact" />
</div>
<div class="row">
	<div class="col-1">
		<img src="{% static 'images/avatar.jpg' %}" alt="avatar">
	</div>
	<div class="col-11">
		<div class="card1" style="margin-bottom: 1rem;  background-color: rgb(235, 235, 235);">
			<div class="ms-2 me-auto" style="font-size: 16px; padding: 10px;">
				<div class="fw-bold" style="font-size: 16px;"><b>NhanLee </b>24/10/2021 10:23
				</div>
				Tài liệu rất hữu ích
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-1">
		<img src="{% static 'images/avatar.jpg' %}" alt="avatar">
	</div>
	<div class="col-11">
		<div class="card1" style="margin-bottom: 1rem;  background-color: rgb(235, 235, 235);">
			<div class="ms-2 me-auto" style="font-size: 16px; padding: 10px;">
				<div class="fw-bold" style="font-size: 16px;"><b>NhanLee </b>24/10/2021 10:23
				</div>
				Tài liệu rất hữu ích
			</div>
		</div>
	</div>
</div>
{% endblock %}