{% extends 'base.html' %}
{% block title %} Tìm kiếm {% endblock %}
{% load myfilters %}
{% load static %}
{% load mathfilters %}
{% block content_main %}
<!-- Navbar -->

<!--Nội dung-->


<div class="container h-100 bg-light min-vh-100 mb-3 mt-3 pt-3 pb-3 rounded">

    {% for item in monhoc %}
	<div class="col-12 m-1">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title"><a href="/subjects/{{item.MaMH}}" alt='...'>{{item.MaMH}} - {{item.TenMH}}</a></h5>
				<p class="card-text">{{item.MoTa |safe |truncatechars:250}}
				<a href="/subjects/{{item.MaMH}}">Xem chi tiết...</a>
				</p>
			</div>
		</div>
	</div>
	{% endfor %}
    {% for item in tailieu %}
    <div class="col-12 m-1">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a href="/document/{{item.MaTL}}" alt='...'>{{item.TenTL}} - {{item.TenTL}}</a></h5>
                <small class="card-text card-subtitle text-muted">
                    đăng bởi
                        <span class="text-danger">
                            {% if user.first_name %}
                            {{user.first_name}}
                            {% else %}
                            {{user.username}}
                            {% endif %}
                        </span>
                    lúc {{item.date |date:"H:i"}}
                    ngày {{item.date |date:"d"}}
                    tháng {{item.date |date:"m"}}
                    năm {{item.date |date:"Y"}}
                </small>
                <p class="card-text">{{item.get_LoaiTL_display}} môn {{item.MaMH.TenMH}} của tác giả {{item.TacGia}}, Mô tả: {{item.MoTa|safe_text |truncatechars:200}}
                    <a href="/document/{{item.MaTL}}">Xem chi tiết...</a>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}

    {% comment %} <div class="row">
        <h2>Môn học</h2>
        <table class="table table-hover;">
            <thead class="thead-light">
                <tr style="text-align: center;">
                    <th>STT</th>
                    <th>Mã môn học</th>
                    <th>Tên môn học</th>
                    <th>Mô tả</th>
                    <th>Số tài liệu</th>
                </tr>
            </thead>
            <tbody>
                {% for item in monhoc %}

                <tr>

                    <td>
                        {{forloop.counter}}
                    </td>
                    <td>
                        <a href="/subjects/{{item.MaMH}}">{{item.MaMH}}</a>
                    </td>
                    <td>
                        <p>{{item.TenMH}}</p>
                    </td>
                    <td>
                        <p>{{item.MoTa}}</p>
                    </td>
                    <td>
                        <p>{{item.SoLuongTL}}</p>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <h2>Tài liệu</h2>
        <div class="col-sm-12">
            <a href="/document/{{item.MaTL}}" class="card-title">{{item.TenTL}}</a>
        </div>
        <table class="table table-hover;">
            <thead class="thead-light">
                <tr style="text-align: center;">
                    <th>STT</th>
                    <th>Tên tài liệu</th>
                    <th>Mã MH</th>
                    <th>Ngày</th>
                    <th>Tác giả</th>
                    <th>Mô tả</th>
                </tr>
            </thead>
            <tbody>
                {% for item in tailieu %}
                <tr>
                    <td>
                        {{forloop.counter}}
                    </td>
                    <td>
                        <a href="/document/{{item.MaTL}}">{{item.TenTL}}</a>
                    </td>
                    <td>
                        <a href="/subjects/{{item.MaMH}}">{{item.MaMH}}</a>
                    </td>
                    <td class='align-self-center'>
                        <p>{{item.date}}</p>
                    </td>
                    <td>
                        <p>{{item.TacGia}}</p>
                    </td>
                    <td>
                        <p>{{item.MoTa|safe}}</p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> {% endcomment %}
</div>


{% endblock %}